/* .App {
  text-align: center;
  
} */

.name--highlighted {
  color: red;
}

.Wrapper{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.header{ 
  margin: 1.5rem ;
  top: 0;
  background-color: skyblue;  
  display: flex;  
  position: fixed;
  width: 90%;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  

}

.headerLogo{
  text-decoration: none;
  font-style: italic;
  font-size: 1.8rem;
  color: rgb(10, 10, 92);
  font-weight: 800;
}

.headerLinks{  
  
text-decoration: none;
color: #000;
font-weight: 600;

}

.button{
  padding: 0.5rem;
  background-color: rgb(20, 20, 83);
  font-size: 1.1rem;
  color: aliceblue;
  border-radius: 5%;
  
}

.container{ 
  position: relative;
  max-width: 100%;  
  top: 5rem;
  display: flex;
 
}

.content{
  margin: 1.5rem  ;
  background-color: rgb(194, 217, 228);
  max-width: 75%;
  text-align: center;
  padding: 1rem 10rem;
 
}

.content-box{
  margin: 0.5rem;
  background-color: rgb(236, 240, 241);
  max-width: 70%;
  text-align: center;
  padding: 0.5rem 25rem;
 
}

.description{
  font-style: italic;
}

.price{
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem;
}

.btn{
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(219, 203, 203);
  border-radius: 5%;
}

.asideBox {
  width: 15%;
  background-color: rgb(248, 223, 99);
  margin: 1.5rem 8.6rem;
  padding: 1rem;
  text-align: center;
  color: brown;
  position: fixed;
  z-index: 1;
  right: 0;

}
.footer{
  margin: 1.5rem ;
  bottom: -2rem;  
  background-color: rgb(144, 147, 172);  
  display: flex;  
  position: absolute;
  width: 90%; 
  justify-content: space-between;
  align-items: center;
  
 
}

.footerLinks{  
  box-sizing: initial;
  text-decoration: none;
  color: aliceblue;
  font-weight: 400;
  padding: 0.5rem;
  margin: 0.3rem;
  
  }
  

  .button1{
    margin-right: 1rem;
    padding: 0.2rem 2rem;
    background-color: rgb(20, 20, 83);
    font-size: 1.1rem;
    color: aliceblue;
    border-radius: 5%;
  }